/*--------------------------------------------------------------
# Front Page
--------------------------------------------------------------*/


.front-page-container {
  // temp starts
  height: 10vh;
  background-color: grey;
  // temp ends
  margin-top: 25px;

}