/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

/* 
* Front-Page
*/

.front-page-hero {
  height: 976px;
  background-image: linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)), url(../../images/home-hero.jpg);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
* 404
*/

.site-content {
  margin-top: 55px;
}

.site-main {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .error-404 {
    padding-right: 5%;
    border-right: 1px solid #e1e1e1;
  }
}

/* 
* About-Page
*/

.about-page-hero {
  height: 976px;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,.35)), url(../../images/about-hero.jpg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
  h1 {
    color: white;
    font-family: $font__accent;
    font-size: 3rem;
    text-transform: uppercase;
  }
}

.entry-content {
  h2 {
    font-family: $font__accent;
    font-size: 2.1rem;
    text-align: center;
    text-transform: uppercase;
  }
  p {
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}



