/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

/* 
* Front-Page
*/

.front-page-container {
  // temp starts
  height: 10vh;
  background-color: grey;
  // temp ends
  margin-top: 25px;
}

/* 
* 404
*/

.site-content {
  margin-top: 55px;
}

.site-main {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .error-404 {
    padding-right: 5%;
    border-right: 1px solid #e1e1e1;
  }
}

