/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

/* 
* Front Page
*/

.front-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  h2 {
    @include header-font(2.4rem, null);
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
  }
  .front-page-hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(../../images/home-hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-page-journal-container {
    @include front-page-container();
    display: flex;
    justify-content: center;
    article {
      position: relative;
      margin: 1%;
      width: 365px;
      border: 1px solid #e1e1e1;
    }
    img {
      height: 250px;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .front-page-entry-meta {
    padding: 15px;
    height: 230px;
    p {
      font-size: 0.75rem;
      margin: 0;
    }
    h3 {
      @include header-font(1.3rem, null);
      line-height: 1.25;
      letter-spacing: 2px;
      margin-top: 0;
      margin-bottom: 30px;
      a {
        text-decoration: none;
        @include hyperlinks();
      }
    }
  }
  .read-more-container {
    position: absolute;
    bottom: 1rem;
    left: 0.75rem;
    a {
      @include read-more();
      @include hyperlinks();
    }
  }
}
.front-page-shop-container {
  @include front-page-container();
  display: flex;
  justify-content: center;
}
.front-page-shop-item {
  width: 260px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-top: 4px solid #e1e1e1;
  padding: 1%;
  margin: 1%;
  &:hover {
    border-color: $color_brand_orange;
  }
  img {
    margin: auto;
    height: 70px;
    width: 70px;
  }
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  a {
    @include submit-green-button(10px);
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}

/* 
* 404 Page
*/

.site-content {
  margin-top: 55px;
  &.top {
    margin-top: 0;
  }
}

.site-main-404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .error-404 {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 5%;
    max-width: 800px;
  }
  h1 {
    @include header-font(2.4rem, null);
    line-height: 1.25;
  }
  h2 {
    @include header-font(null, null);
  }
  p {
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .search-submit {
    display: none;
  }
  .search-field {
    background-color: #f6f6f6;
    border: 1px solid #e1e1e1;
    padding: 6px;
  }
  .search-form {
    padding-bottom: 15px;
  }
}

.widget_archive p {
  padding: 0;
}

/* 
* About Page
*/

.about-content-area {
  width: 100%;
  .hero-image-header {
    height: 100vh;
  }
  .entry-content {
    margin-top: 0;
  }
  h1 {
    color: white;
    font-size: 3rem;
  }
  h2 {
    @include header-font(2.1rem, null);
    text-align: center;
    letter-spacing: 2px;
  }
  p {
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
  }
}

/** 
 * Find Us Page (general page.php settings)
 */

.post-2 {
  max-width: 760px;
  padding-right: 8%;
  padding-top: 60px;
  h2 {
    @include header-font(2.1rem, null);
    text-align: start;
    line-height: 1.25;
    letter-spacing: 2px;
  }
  p {
    margin: 0;
    max-width: 700px;
  }
}

.site-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .content-area {
    padding-bottom: 60px;
  }
}

.entry-title {
  @include header-font(2.4rem, null);
  margin: 0;
  margin-bottom: 10px;
}

.wpcf7-form {
  p {
    @include header-font(null, null);
    margin-top: 20px;
    margin-bottom: 30px;
    label {
      margin-bottom: 10px;
      font-size: 1.1rem;
    }
    .asterisk {
      color: $color_brand_orange;
    }
    .wpcf7-textarea {
      height: 350px;
      max-width: 700px;
    }
  }

  .wpcf7-submit {
    @include submit-green-button();
  }
}

.wpcf7-form-control {
  color: #666;
  background-color: #f4f4f4;
  border: 1px solid #e1e1e1;
  height: 49px;
  margin-top: 10px;
}

/** 
 * Journal (main blog settings) & single page 
 */

.journal-content-area,
.single-content-area {
  max-width: 760px;
  padding-right: 5%;
  padding-top: 60px;
  padding-bottom: 60px;
  article {
    padding-bottom: 60px;
  }
}

.journal-entry-header,
.single-entry-header {
  position: relative;
  padding-right: 0;
  img {
    width: 100%;
    display: block;
  }
  h1,
  h2 {
    @include header-font(2rem, white);
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 30px;
    background-color: $color_brand_green;
    margin-top: 45px;
    line-height: 1.25;
    width: 75%;
    a {
      color: white;
      text-decoration: none;
    }
  }
  .journal-entry-meta,
  .single-entry-meta {
    @include header-font(1.2rem, white);
    position: absolute;
    bottom: 0%;
    right: 0;
    padding: 0px 30px;
    background-color: $color_brand_green;
    .comments-link a {
      color: white;
      text-decoration: none;
    }
  }
}

.journal-entry-content {
  p {
    margin-bottom: 30px;
  }
  a {
    @include read-more();
  }
}

.single-entry-footer {
  @include header-font(null, null);
  .cat-links {
    margin-right: 30px;
  }
  a {
    color: $color_brand_green;
    text-decoration: none;
  }
  .social-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    .black-btn {
      @include social-button();
    }
    .fab {
      font-size: 0.9rem;
    }
  }
}

/** 
 * Comments
 */

.comments-title {
  @include header-font(2.1rem, null);
  letter-spacing: 2px;
}

.comment-list {
  list-style-type: none;
  cite.fn {
    font-style: none !important;
    // this isn't working!
  }
}
.comment-content {
  width: 100%;
  p,
  .reply {
    margin-left: 94px;
  }
}
.comment-author,
.comment-metadata {
  width: 100%;
  time {
    color: gray;
  }
  a {
    text-decoration: none;
  }
}
.comment-author-avatar {
  float: left;
}
.avatar {
  border-radius: 50%;
  margin-right: 30px;
}
.comment-reply-link {
  text-decoration: none;
}

.comment-reply-title {
  @include header-font(1.8rem, null);
  letter-spacing: 2px;
  border-top: 1px solid #e1e1e1;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment-form {
  p {
    margin-top: 20px;
    margin-bottom: 30px;
    label {
      margin-bottom: 10px;
      @include header-font(1.1rem, null);
    }
    .required {
      color: $color_brand_orange;
    }
  }
  textarea,
  input {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
  }
  .comment-form-author {
    width: 49%;
    margin-right: 1%;
    float: left;
    input {
      width: 100%;
    }
  }
  .comment-form-email {
    width: 49%;
    margin-left: 1%;
    float: left;
    input {
      width: 100%;
    }
  }
  .comment-form-url {
    input {
      width: 100%;
    }
  }
  .submit {
    @include submit-green-button();
  }
}

/** 
 * Search
 */

.search-content-area {
  display: flex;
  flex-direction: row;
  .search-site-main {
    width: 73%;
    max-width: 760px;
    margin-right: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
      @include header-font(2.4rem, null);
      padding-bottom: 20px;
      margin-bottom: 60px;
      margin-top: 0;
      border-bottom: 1px solid #e1e1e1;
    }
    h2 a {
      line-height: 1.25;
      text-decoration: none;
      color: $color_brand_green;
    }
    .search-entry-summary a {
      @include header-font(0.9rem, null);
      padding: 15px 30px;
      background-color: white;
      border: 1px black solid;
      text-decoration: none;
    }
    p {
      margin-bottom: 30px;
    }
  }
}

/** 
 * Archives
 */

.archive-content-area {
  width: 73%;
  max-width: 760px;
  margin-right: 5%;
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    @include header-font(2.4rem, null);
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-top: 0;
    border-bottom: 1px solid #e1e1e1;
  }
}

/** 
 * Product Archive
 */

.product-site-main {
  width: 100%;
  h1 {
    @include header-font(2.4rem, null);
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 2px;
    line-height: 1.25;
  }
  ul {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 30px;
    li {
      display: inline;
    }
    a {
      @include header-font(1.2rem, null);
      text-decoration: none;
      font-weight: 200;
      margin: 25px;
      @include hyperlinks();
    }
  }
}

.product-content-area {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  .products-grid-container {
    border-top: 1px #aaa dashed;
    padding-top: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.25rem;
    margin-bottom: 1.5rem;
  }
  .product-grid-item {
    border: 1px solid #e1e1e1;
  }
  .product-thumbnail-container {
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .product-entry-content {
    padding: 15px 20px;
    font-size: 0.9rem;
  }
}

/** 
 * Product Single
 */

.product-single-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 90px;
  .product-single-image {
    width: 45%;
  }
  .product-single-content {
    width: 45%;
    h1 {
      @include header-font(2.4rem, $color_brand_orange);
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 1.25;
    }
    .product-single-price {
      @include header-font(1.8rem, null);
      margin-top: 0;
    }
  }
  .social-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    .black-btn {
      @include social-button();
    }
    .fab {
      font-size: 0.9rem;
    }
  }
}

/** 
 * Taxonomy
 */

.tax-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;
  padding-top: 60px;
  border-top: 1px #aaa dashed;
  .tax-thumbnail-container {
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .tax-entry-content {
    padding: 15px 20px;
    font-size: 0.9rem;
  }
  .tax-grid-item {
    border: 1px solid #e1e1e1;
  }
}

.tax-site-main {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 5%;
  margin-right: 5%;
  h1 {
    @include header-font(2.4rem, null);
    text-align: center;
    margin-top: 0;
  }
  p {
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
    max-width: 800px;
  }
}
