/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

/* TODO: none of this is working!

.widget-area {
  width: 27%;
  padding-left: 5%;
  border-left
}

.widget-title {
  font-family: $font__accent;
}

.widget
  ul li a {
    text-decoration: none;
  }

*/