/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  width: 27%;
  padding-left: 5%;
}

.widget-title {
  font-family: $font__accent;
  text-transform: uppercase;
}

.widget {
  a {
    text-decoration: none;
  }
}
