/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.widget-area {
  width: 27%;
  padding-left: 5%;
  padding-top: 60px;
  border-left: 1px solid #e1e1e1;
}

.widget-title {
  font-family: $font__accent;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 37.5px;
}

.widget {
  a {
    text-decoration: none;
  }
}

.widget_archive {
  a:visited {
    color: $color_brand_green;
  }
  a:hover {
    color: black;
  }
}
