/** 
 * Archives
 */

.archive-content-area {
  width: 75%;
  max-width: 760px;
  margin-right: 5%;
  padding-top: 60px;
  padding-bottom: 60px;
  h1 {
    @include header-font(2.4rem, null);
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-top: 0;
    border-bottom: 1px solid #e1e1e1;
  }
}
