/** 
 * Comments
 */

.comments-title {
  @include header-font(2.1rem, null);
  letter-spacing: 2px;
}

.comment-list {
  list-style-type: none;
  cite.fn {
    font-style: none !important;
    // this isn't working!
  }
}
.comment-content {
  width: 100%;
  p,
  .reply {
    margin-left: 94px;
  }
}
.comment-author,
.comment-metadata {
  width: 100%;
  time {
    color: gray;
  }
  a {
    text-decoration: none;
  }
}
.comment-author-avatar {
  float: left;
}
.avatar {
  border-radius: 50%;
  margin-right: 30px;
}
.comment-reply-link {
  text-decoration: none;
}

.comment-reply-title {
  @include header-font(1.8rem, null);
  letter-spacing: 2px;
  border-top: 1px solid #e1e1e1;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment-form {
  p {
    margin-top: 20px;
    margin-bottom: 30px;
    label {
      margin-bottom: 10px;
      @include header-font(1.1rem, null);
    }
    .required {
      color: $color_brand_orange;
    }
  }
  textarea,
  input {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    margin-top: 10px;
  }
  .comment-form-author {
    width: 49%;
    margin-right: 1%;
    float: left;
    input {
      width: 100%;
    }
  }
  .comment-form-email {
    width: 49%;
    margin-left: 1%;
    float: left;
    input {
      width: 100%;
    }
  }
  .comment-form-url {
    input {
      width: 100%;
    }
  }
  .submit {
    @include submit-green-button();
  }
}
