/* 
* Front Page
*/

.front-page-container {
  flex-direction: column;
  width: 100%;
  h2 {
    @include header-font(2.4rem, null);
    font-weight: 200;
    text-align: center;
    margin-bottom: 0;
  }
  .front-page-hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url(../../assets/images/home-hero.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front-page-journal-container {
    @include front-page-container();
    article {
      position: relative;
      margin: 1%;
      width: 365px;
      border: 1px solid #e1e1e1;
    }
    img {
      height: 250px;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .front-page-entry-meta {
    padding: 15px;
    height: 230px;
    p {
      font-size: 0.75rem;
      margin: 0;
    }
    h3 {
      @include header-font(1.3rem, null);
      line-height: 1.25;
      letter-spacing: 2px;
      margin-top: 0;
      margin-bottom: 30px;
      a {
        text-decoration: none;
        @include hyperlinks();
      }
    }
  }
  .journal-read-more-container {
    position: absolute;
    bottom: 1rem;
    left: 0.75rem;
    a {
      @include read-more();
      @include hyperlinks();
    }
  }
}
.front-page-shop-container {
  @include front-page-container();
  display: flex;
  justify-content: center;
}
.front-page-shop-item {
  width: 260px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  border-top: 4px solid #e1e1e1;
  padding: 1%;
  margin: 1%;
  &:hover {
    border-color: $color_brand_orange;
  }
  img {
    margin: auto;
    height: 70px;
    width: 70px;
  }
  p {
    text-align: center;
    margin-bottom: 30px;
  }
  a {
    @include submit-green-button(10px);
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
}
.front-page-adventure-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px 20px;
  width: 1190px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
  & .adventure-post:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
  & .adventure-post:nth-of-type(2) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
  }
}
.more-adventures-container {
  width: 100%;
  display: flex;
  justify-content: center;
  a.more-adventures {
    @include submit-green-button();
    text-decoration: none;
  }
}
