// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
* HIGH PPI DISPLAY BACKGROUNDS
*/

@mixin background-2x(
  $path,
  $ext: 'png',
  $w: auto,
  $h: auto,
  $pos: left top,
  $repeat: no-repeat
) {
  $at1x_path: '#{$path}.#{$ext}';
  $at2x_path: '#{$path}@2x.#{$ext}';

  background-image: url('#{$at1x_path}');
  background-size: $w $h;
  background-position: $pos;
  background-repeat: $repeat;

  @media all and (-webkit-min-device-pixel-ratio: 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
    background-image: url('#{$at2x_path}');
  }
}

@mixin submit-green-button($padding_vertical: 15px, $padding_horizontal: 30px) {
  background: none $color_brand_green;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: $font__accent;
  font-size: 0.9rem;
  padding: $padding_vertical $padding_horizontal;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  border-radius: 0;
  &:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      $color_brand_green;
    box-shadow: none;
  }
}

@mixin header-font($size: 'inherit', $color: 'inherit') {
  text-transform: uppercase;
  font-family: $font__accent;
  color: $color;
  font-size: $size;
}

@mixin social-button() {
  padding: 15px 30px;
  background-color: white;
  border: 1px black solid;
  @include header-font(0.9rem, null);
}

@mixin read-more() {
  @include header-font(null, null);
  text-decoration: none;
  padding: 15px 30px;
  border: 1px black solid;
}

@mixin front-page-container() {
  width: 1190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}

@mixin hyperlinks() {
  &:visited {
    color: $color_brand_green;
  }
  &:hover {
    color: black;
  }
}

@mixin adventure-header($size) {
  position: absolute;
  top: 0;
  left: 5%;
  margin: 55px auto 20px auto;
  width: 90%;
  font-size: $size;
  line-height: 1.25;
  a {
    text-decoration: none;
    color: white;
    font-weight: 300;
  }
}

@mixin adventure-read-more() {
  text-decoration: none;
  border: 1px white solid;
  padding: 15px 30px;
  color: white;
  text-transform: uppercase;
  font-family: $font__accent;
}
