/** 
 * Search
 */

.search-content-area {
  display: flex;
  flex-direction: row;
  .search-site-main {
    width: 75%;
    max-width: 760px;
    margin-right: 5%;
    padding-top: 60px;
    padding-bottom: 60px;
    h1 {
      @include header-font(2.4rem, null);
      padding-bottom: 20px;
      margin-bottom: 60px;
      margin-top: 0;
      border-bottom: 1px solid #e1e1e1;
    }
    h2 a {
      line-height: 1.25;
      text-decoration: none;
      color: $color_brand_green;
    }
    .search-entry-summary a {
      @include header-font(0.9rem, null);
      padding: 15px 30px;
      background-color: white;
      border: 1px black solid;
      text-decoration: none;
    }
    p {
      margin-bottom: 30px;
    }
  }
}
